:root {
    --ondo-text-clr: #263238;
    --text-clr-1: #2194f3;
    --text-clr-2: #FFFFFF;
    --text-clr-3: #4D4D4D;
    --text-clr-4: #717171;
    --text-clr-5: #F5F7FA;
    --text-clr-6: #89939e;
    --nav-text-clr: #18191f;

    --background-clr: #F5F7FA;
    --button-bg-clr: #2194f3;
    --community-border-clr: #F5F7FA;
    --footer-bg-color: #263238;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;

    --fs-h1: clamp(40px, 7vw, 65px);
    --fs-h2: clamp(24px, 5vw, 36px);
    --fs-h3: clamp(22px, 4vw, 28px);
    --fs-h4: clamp(18px, 3vw, 20px);
}

body {
    margin: 0 auto;
    font-family: 'Inter';
    max-width: 1440px;
}
/*=========
Layout
==========*/
header {
    text-align: center;
    background-color: var(--background-clr);
    border: 0.1px solid var(--background-clr);
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 5px;
}

.container-1 {
    margin-bottom: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

nav ul li {
    cursor: pointer;
}

.container-login {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    gap: 10px;
}

.button-small {
    padding: .75em;
    border-radius: 0.5em;
    border: 0;
    margin-bottom: 0.5em;
}

.button-big {
    background-color: var(--button-bg-clr);
    border-radius: 0.5em;
    border: 0;
    padding: 14px 32px;
    margin: 0;
}

.container-1__wrapper-1 {
    display: flex;
    justify-content: center;
    padding: 96px 144px;
    gap: 104px;
    align-items: center;
    background-color: var(--background-clr);
    margin-bottom: 40px;
}

button {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .container-1__image-1 {
        display: none;
    }
    .container-1__wrapper-1 {
        text-align: center;
        justify-content: center;
    }
    header {
        padding: 0;
    }
    .container-1__wrapper-1 {
        padding: 40px 0;
    }
}

@media (min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
    }
    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

        .button-small {
        margin: 0;
    }
}

/*=========
Typography
==========*/
h1 {
    font-size: var(--fs-h1);
    margin: 0;
    color: var(--text-clr-3);
}

.p1 {
    font-size: clamp(28px, 3vw, 36.5px);
    margin: 0;
    color: var(--text-clr-1);
    font-weight: 600;
}

.p2 {
    font-size: 16px;
    font-weight: var(--fw-regular);
    line-height: 24px;
    color: var(--text-clr-4);
    margin: 1.5rem 0;
}

.register {
    color: var(--text-clr-2);
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--fw-medium);
}

.ondo {
    color: var(--ondo-text-clr);
    margin: 0;
    font-weight: bold;
}

li {
    color: var(--nav-text-clr);
    line-height: 24px;
    font-size: 16px;
    font-weight: var(--fw-regular);
    padding: 0.25em 0;
    list-style: none;
}

.active {
    font-weight: var(--fw-medium);
} 

span {
    color: var(--text-clr-1);
}

.sign-up {
    background-color: var(--button-bg-clr);
    color: var(--text-clr-2);
}

.log-in {
    color: var(--text-clr-1);
    background-color: transparent;
}
.icon {
    min-height: 98px;
    align-items: center;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    margin: 0;
}

h2 {
    color: var(--text-clr-3);
    font-size: var(--fs-h2);
    font-weight: var(--fw-semi-bold);
    line-height: 44px;
    margin: 0;
    margin-bottom: 8px;
}

.p3 {
    color: var(--text-clr-4);
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--fw-regular);
    margin: 0 10px;
    margin-bottom: 16px;
}
.container-1__wrapper-2 {
    padding: 0;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
    margin-bottom: 40px;
}

.container-1__wrapper3___item-1 {
    text-align: center;
    margin: 0 auto;
    max-width: 542px;
    margin-bottom: 16px;
}

.p4 {
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--fw-regular);
    color: var(--text-clr-4);
 
}

.p5 {
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    max-width: 251px;
    color: var(--text-clr-4);
}
.p6 {
    font-size: 14px;
    line-height: 20px;
    max-width: 240px;
    margin: 0 auto;
    color: var(--text-clr-4);
}

h3 {
    font-size: var(--fs-h3);
    line-height: 36px;
    font-weight: bold;
    color: var(--text-clr-3);
    margin: 0;
    margin-bottom: 8px;
    margin-top: 16px;
}

.community1__item1,
.community2__item1,
.community3__item1 {
    text-align: center;
    max-width: 267px;
    margin: 0 auto;
}

.container-1__wrapper3___item-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 144px;
    align-items: center;
    margin: 0 auto;
}

.community1,
.community2,
.community3 {
    padding: 24px 0;
    margin: 0;
    border-left: 2px solid var(--community-border-clr);
    border-right: 2px solid var(--community-border-clr);
    border-bottom: 2px solid var(--community-border-clr);
    border-radius: 0 0 12px 12px;
    width: 299px;
    text-align: center;
}

.clubs {
    max-width: 231px;
    margin: 0 auto;
    margin-bottom: 8px;
    margin-top: 16px;
}
.item-2 .button-big {
    color: var(--text-clr-2);
    font-size: 16px;
    padding: 1em 2em;
}

.container-2 .wrapper-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 144px;
    margin-bottom: 40px;
}

.container-2 .wrapper-1 .item-2 {
    width: 661px;
}

.container-2 .wrapper-1 .item-2 .wrapper {
    max-width: 601px;
    margin-bottom: 32px;
}

.container-2 .wrapper-1 .item-2 .wrapper p {
    font-size: 14px;
    font-weight: var(--fw-regular);
    line-height: 20px;
    color: var(--text-clr-4);
}


p.p7 {
    margin: 0;
    color: var(--nav-text-clr);
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--fw-regular);
}

h3.members,
h3.Clubs,
h3.event-bookings,
h3.payments {
    margin: 0;
}

.wrapper-01 p,
.wrapper-02 p,
.wrapper-03 p,
.wrapper-04 p {
    font-size: 16px;
    font-weight: var(--fw-regular);
    color: var(--text-clr-4);
    margin: 0;
    width: 191px;
}

.wrapper-01,
.wrapper-02,
.wrapper-03,
.wrapper-04 {
    display: flex;
    gap: 16px;
}

.column-1,
.column-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.column-1 {
    margin-bottom: 40px;
}

.container-2 .wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-clr);
    padding: 64px 144px;
    margin-bottom: 48px;
}

h2.helping {
    max-width: 408px;
    margin-bottom: 8px;
}

.container-2 .wrapper-2 .item-01 {
    max-width: 540px;
}
.container-2 .wrapper-2 .item-02 {
    margin-left: 3em;
}

.container-2 .wrapper-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 144px;
    margin-bottom: 48px;
}

.container-2 .wrapper-3 .item-1 {
   width: 661px;
}

.container-2 .wrapper-3 .wrapper {
    max-width: 601px;
    margin-bottom: 32px;
}

.container-2 .wrapper-3 .item-1 .button-big {
    color: var(--text-clr-2);
    font-size: 16px;
    line-height: 24px;
    padding: 1em 2.2em;
}

.container-2 .wrapper-3 .wrapper p {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-clr-4);
    margin: 0;
}

.container-2 .wrapper-3 .wrapper h2 {
    margin: 0;
    margin-bottom: 16px;
}

.container-2 .wrapper-4 .column-01 {
    max-width: 740px;
}
.container-2 .wrapper-4 .column-01 p {
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--fw-medium);
    color: var(--text-clr-4);
    margin: 0;
    margin-bottom: 16px;
}
.container-2 .wrapper-4 .column-01 h4 {
    color: var(--text-clr-1);
    font-size: var(--fs-h4);
    line-height: 28px;
    font-weight: var(--fw-semi-bold);
    margin: 0;
    margin-bottom: 8px;
}
.container-2 .wrapper-4 .column-01 .p8 {
    font-weight: var(--fw-regular);
    color: var(--text-clr-6);
    margin: 0;
}
.container-2 .wrapper-4 .column-01 .wrapper__01 {
    margin-bottom: 32px;
}
.container-2 .wrapper-4 .column-01 .flex-icon ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 493px;
}
.container-2 .wrapper-4 .column-01 .flex-meet {
    display: inline-flex;
    gap: 8px;
    align-items: center;
}
.container-2 .wrapper-4 .column-01 .flex-meet p {
    font-size: 20px;
    line-height: 28px;
    color: var(--text-clr-1);
    margin: 0;
}
.container-2 .wrapper-4 .column-01 .wrapper__02 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-2 .wrapper-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-clr);
    padding: 34px 144px;
    margin-bottom: 48px;
}
.container-2 .wrapper-4 .column-02{
    margin-left: 3em;
}



.container-2 .wrapper-5 {
    text-align: center;
}
.container-2 .wrapper-5 .item__1 p {
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--fw-regular);
    color: var(--text-clr-4);
    max-width: 628px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.container-2 .wrapper-5 .item__2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 144px;
    flex-wrap: wrap;
}
.box {
    max-width: 317px;
    background-color: var(--background-clr);
    border-radius: 8px;
    padding: 16px;
    margin-top: -100px;
    box-shadow: 0 5px 20px -10px var(--text-clr-6);
}
.container-2 .wrapper-5 .item__2 .column__1,
.container-2 .wrapper-5 .item__2 .column__2,
.container-2 .wrapper-5 .item__2 .column__3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-2 .wrapper-5 .item__2 .p1 {
    max-width: 285px;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-clr-4);
    font-weight: var(--fw-regular);
    margin: 0;
    margin-bottom: 16px;
}
.flex-more {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.more {
    font-size: 18px;
    font-weight: var(--fw-regular);
    line-height: 28px;
    margin: 0;
    color: var(--text-clr-1);
    padding: 8px;
}
.container-2 .wrapper-5 .item__2 .column__1 .res,
.container-2 .wrapper-5 .item__2 .column__2 .res,
.container-2 .wrapper-5 .item__2 .column__3 .res {
    max-width: 100%;
    object-fit: contain;
}

.container-2 {
    margin-bottom: 80px;
}
.container-3 .wrapper-1 {
    background-color: var(--background-clr);
    text-align: center;
    padding: 32px 0;
}
.container-3 .wrapper-1 h2 {
    color: var(--ondo-text-clr);
    max-width: 870px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.container-3 .wrapper-1 .button-big {
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--fw-medium);
    padding: 1em 2em;
    gap: 8px;
    color: var(--text-clr-2);
    display: inline-flex;
    align-items: center;
}
.container-3 .wrapper-1 .button-big p {
    margin: 0;
}

footer h3 {
    color: var(--text-clr-2);
    font-weight: bold;
    margin: 0;
    margin-bottom: 40px;
}
footer p {
    margin: 0;
    color: var(--text-clr-5);
    font-size: 14px;
    line-height: 20px;
    font-weight: var(--fw-regular);
}
footer .p-1 {
    margin-bottom: 8px;
}
footer .p-2 {
    margin-bottom: 40px;
}
footer .flex-group ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}
footer .flex-group ul li {
    padding: 0;
}
footer .item-1 {
    max-width: 350px;
}

footer h4 {
    color: var(--text-clr-2);
    font-size: var(--fs-h4);
    line-height: 28px;
    font-weight: var(--fw-semi-bold);
    margin: 0;
    margin-bottom: 24px;
}
footer .item-2 li {
    font-size: 14px;
    line-height: 20px;
    font-weight: var(--fw-regular);
    color: var(--text-clr-5);
    padding: 0;
    cursor: pointer;
}
footer .item-2 ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 0
}
footer .item-2 .column__1,
footer .item-2 .column__2 {
    width: 160px;
}
footer .item-2 .column__3 {
    width: 255px;
}
footer .item-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
footer {
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    padding: 64px 165px;
}
@media (max-width: 1367px) {
    .container-2 .wrapper-2  .item-01 {
        margin: 3em;
        text-align: center;
        margin-right: 3em;
    }
    .wrapper-02 {
        justify-items: center;
        padding: 0;
        align-items: center;
    }
    .column-1,
    .column-2{
        margin: 0 auto;
        justify-content: space-between;
    }
    .wrapper-02 {
        margin-bottom: 30px;
    }
    .container-2 .wrapper-4 {
        justify-content: space-evenly;
        padding: 34px 1em;
    }
    .container-2 .wrapper-3 {
        padding: 0;
        justify-content: center;
    }
    .container-2 .wrapper-2 {
        padding: 64px 0;
        justify-content: center;
    }
    .container-2 .wrapper-1 {
        padding: 0;
        justify-content: center;
    }
    .container-1__wrapper3___item-2 {
        padding: 0;
        justify-content: space-evenly;
        gap: 1em;
    }
    .container-2 .wrapper-5 .item__2 {
        padding: 0;
        justify-content: space-evenly;
        gap: 2em;
    }
    footer {
        padding: 64px 0;
        justify-content: space-evenly;
    }
    footer .item-2 {
        justify-content: space-evenly;
        gap: 50px;
    }
}
@media (max-width: 588px) {
    .wrapper-01,
    .wrapper-02,
    .wrapper-03,
    .wrapper-04 {
        margin: 0 auto;
    }
    .container-2 .wrapper-2 {
        padding: 0;
        padding-bottom: 3em;
    }
    footer .item-2 {
        padding: 2em;
    }
    footer {
        padding: 30px 0;
    }
}
@media (max-width: 1000px) {
    .community1,
    .community2,
    .community3 {
        margin: 2em 0;
    }

    .container-2 .wrapper-1 .item-1{
        display: none;
    }

    .container-2 .wrapper-1 .item-2,
    .container-2 .wrapper-3 .item-1 {
        text-align: center;
        margin: 1em;
    }
    .container-2 .wrapper-1 .item-2 > * {
        margin: 0 auto;
    }
    .container-2 .wrapper-3 picture {
        display: none;
    }
    .container-2 .wrapper-3 .item-1 .wrapper {
        margin: 0 auto;
        margin-bottom: 32px;
    }
    .container-2 .wrapper-4 .column-02 {
        display: none;
    }
    .container-2 .wrapper-4 .column-01 .flex-icon ul {
        width: auto;
        gap: 25px;
    }
    footer {
        text-align: center;
    }
    footer .flex-group ul {
        justify-content: space-around;
    }
}
footer form {
    display: inline-flex;
    justify-content: space-around;
    background-color: rgb(75, 75, 80);
    text-align: center;
    border-radius: 5px;
    padding: 0.65em 0;
    width: 255px;
}
footer button {
    background: none;
    border: none;
    padding: 0;
    height: 18px;
}
footer input {
    border: none;
    background: none;
    padding: 0;
    color: #d9dbe1;
}
footer input:focus {
    outline: none;
}